@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Сброс пароля";
}
 
<h2>@ViewData["Title"]</h2>
<h4>Введите пароль.</h4>
<hr />
<div >
    <div >
        <form method="post">
        <div asp-validation-summary="All"></div>
           	<div class="row gtr-uniform">
			<div class="col-6 col-12-xsmall">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
               </div>
            <div class="row gtr-uniform">
			<div class="col-6 col-12-xsmall">
                <label asp-for="Password"></label>
                <input asp-for="Password" class ="login" />
                <span asp-validation-for="Password"></span>
            </div>
               </div>
                <div class="row gtr-uniform">
           <div class="col-6 col-12-small">
                 <label asp-for="Password"></label>
                <input asp-for="Password" class ="login" />
                <span asp-validation-for="Password"></span>
            </div>
          </div></br>
               <button type="submit" class="btn btn-primary">Сбросить</button>
            
            
        </form>
    </div>
</div>